NEXT_PUBLIC_API_BASE_URL=https://api.example.com
NEXT_PUBLIC_SITE_URL=https://example.com
NEXT_PUBLIC_MEDIA_BASE_URL=https://media.example.com
INTERNAL_API_BASE_URL=
NEXT_DISABLE_IMAGE_OPTIMIZATION=false
GOOGLE_GENAI_API_KEY=
